* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  // padding: 1em;
}
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
form {
  .select {
    flex-basis: 200px;
  }
}
.filter-input {
  flex: auto;
}
/* input, select {
  padding: 5px;
} */
