* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  // font-family: times;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 14px;
  // padding: 1em;
}
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.loader {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.flex {
  display: flex;
}
.p1 {
  padding: 0.5em;
}
form {
  .select {
    flex-basis: 130px;
  }
  // min-width: 600px;
}
.filter-input {
  flex: auto;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  margin-right: 2px;
  padding: 2px 8px;
  // font-family: times;
}

.ReactVirtualized__Table__headerRow {
  // font-weight: bold;
  // font-family: Arial, Helvetica, sans-serif;
  // font-size: 12px;
  border-bottom: 2px solid rgb(194, 194, 194);
  background: white !important;
  font-weight: 300 !important;
  // -webkit-box-shadow: 0px 2px 1px 0px rgba(191, 191, 191, 1);
  // -moz-box-shadow: 0px 2px 1px 0px rgba(191, 191, 191, 1);
  // box-shadow: 0px 2px 1px 0px rgba(191, 191, 191, 1);
  .active-sort{
    font-weight: bold;
    color: #830920;
    font-style: italic;
  }
}
.odd-row {
  background: hsl(49, 49%, 97%);
  // background: hsl(210, 29%, 97%);
}
.ReactVirtualized__Table__row {
  border-top: 1px solid rgb(198, 203, 209);
}
