* {
  box-sizing: border-box;
  font-family: times;
  font-weight: 400;
}
body {
  height: 100vh;
  margin: 0;
  // padding: 1em;
}
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
.p1 {
  padding: .5em;
}
form {
  .select {
    flex-basis: 200px;
  }
}
.filter-input {
  flex: auto;
  border: 1px solid hsl(0,0%,80%);
  border-radius: 4px;
  margin-right: 2px;
  padding: 2px 8px;
  font-size: 16px;
}

.ReactVirtualized__Table__row:nth-child(2n) {
  background: rgb(246, 248, 250);
}
.ReactVirtualized__Table__row {
  border-top: 1px solid rgb(198, 203, 209);
}
/* input, select {
  padding: 5px;
} */
